body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table, td {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 30%;
}

td {
    padding: 15px;
    width: 20px;
}
